@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #49c5b6;
    --color-black: #000000;
    --color-white: #ffffff;
  }

  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
